<h1>Edit Article</h1>

<% if current_user && (@article.user == current_user || current_user.admin?) %>
  <%= render "form", article: @article %>
<% else %>
  <p>You don't have permission to edit this article.</p>
<% end %>



<%= link_to "Back Home", articles_path %>
