<h1>Search Results for "<%= @query %>"</h1>
    <!--Pretty self explanatory, it will search for any article titles that contain elements of the search query. -->


<% if @articles.any? %>
  <ul>
    <!--Method that discerns whether any articles are found under the query -->

    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No articles found.</p>
<% end %>
