<div class="user-profile-container">
  <h1><%= @user.username %></h1>
  <p><%= @user.user_profile.body %></p>
  <p><b>Role:</b> <%= @user.user_profile.role %></p>
  <p><b>Post Count:</b> <%= @user.user_profile.post_count %></p>
</div>
