<h1>About the Design Patterns used in this forum application</h1>
<hr>
<h2> Model-View-Controller (MVC) </h2>
<hr>

<p>
  This page provides information about the design patterns used in this application.
</p>
<p>
  I have employed the Model-View-Controller (MVC) design pattern, which separates the application logic into three interconnected components: the model, the view, and the controller.
</p>
<p>
  The MVC pattern helps achieve a clear separation of concerns and promotes maintainability and extensibility of the applications' codebase.
</p>
<hr>
<hr>
<h2> Template Pattern </h2>
<hr>
<p>
  In addition to the Model-View-Controller (MVC) pattern, I have also employed the Template Method design pattern for displaying this very information page!
</p>

<p>
  The Template Method pattern allows one to define the skeleton of an algorithm in a base class (in this case, `<b>BaseInformationController</b>`) and let subclasses (`<b>WelcomeController</b>`, `<b>AboutController</b>`) provide specific implementation details.
</p>
 <!-- This page was meant to be a display of the Template design pattern in use, it would've been
 just one half of the full demonstration, multiple views under the same controller. But it was ultimately
 scrapped, though I am keeping the page up for the sake of showing my work and thought process. -->
