/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'bootstrap';

 /* stylesheet1.css */

/* Global Styles */
body {
    padding: 20px;
    }
    
    h1 {
    color: #4CAF50;
    }
    
    p {
    margin-bottom: 10px;
    }
    
    /* Custom Styles */
    .forum-header {
    background-color: #78B69A;
    }
    
    .nav-link {
    color: #5FA27E;
    }
    
    .forum-post {
    background-color: #C1E5D3;
    color: #4CAF50;
    }
    
    /* Add your custom styles here */
    


