<!DOCTYPE html>
<html>
<head>
  <title>Information Page</title>
  
</head>
<body>
  <header>
   
 <!-- THIS PAGE IS UNNUSED. -->
 <!-- It was never really expanded upon, for mroe information see the "about" page -->
  
    <%= link_to 'Back to Forum', root_path, class: 'back-link' %>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer>
    
  </footer>

  
</body>
</html>
